.firstContainer {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  height: 70vh;
  justify-content: center;
}


.messagesBox {
  display: flex;
  font-size: 3vh;
  height: 66vh;
  justify-content: flex-start;
  margin: 0 1vh 1vh 0;
  overflow: auto;
  width: 90%;
}

form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
.botaocss {
  position: absolute;
width: 195px;
height: 55px;
left: 1245px;
top: 969px;
background: #1CD118;
}

.inputMessageContainer {
/*   background-color: red; */
  display: flex;
  flex-direction: row;
  height: 4vh;
  width: 90%;
}

.containerInput {
  width: fit-content;
}

.buttonContainer {
  background-color: greenyellow;
  width: fit-content;
}

.messageInput {
  height: 3vh;
  width: 30vw;
}

.usersContainers {
  background-color: blue;
  height: 71vh;
  width: 20vw;
}

li {
  list-style-type: none;
}

.chatContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 65vw;
}

@media ( max-width : 800px ) {

  .messagesBox {
    background-color: white;
    flex-direction: column;
    font-size: 2vh;
    width: 90%;
  }
}
